<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
    <style>
        .contact_heading::before{
            content:"";
            width: 100%;
            height:8px;
            background: linear-gradient(90deg, rgba(44, 87, 166, 1) 50%, rgba(123, 148, 193, 1) 50%);
            position: absolute;
            display: block;
            bottom:-10px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div class="flex h-[80px] items-center justify-between sm:px-4 px-3 py-3">
        <div class="flex items-center sm:gap-[10px] gap-[5px] cursor-pointer ">
            <div>
                <img class="w-[50px] h-[50px]" src="../static/logo-transparent.png" alt="logo image"/>
            </div>
            <a href="{{ url_for('index') }}" h1 class="font-bold tracking-[3px] uppercase md:text-3xl sm:text-2xl text-[1.15rem] heading_name ">Not So Phishy</h1>
        </div>
        <div class="hidden md:block">
            <div class="flex items-center gap-[10px]">
                <a href="{{ url_for('about_us') }}" class="font-semibold text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">About Us</a>
                <a href="{{ url_for('contact_us') }}" class="font-semibold text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">Contact Us</a>
                <button class="bg-[#ECF3F9] rounded-lg text-[#7B94C1] hover:mt-[-10px] duration-300 py-2 sm:px-4 px-2 font-bold">
                    Get Extension
                </button>
            </div>
        </div>
        <div class="block md:hidden">
            <i class="fas fa-bars nav_icon_mark text-[1.5rem]"></i>
        </div>
        <div class="mobile_nav hidden flex-col w-[50%] bg-white z-10 pt-[100px] absolute right-0 top-0 h-[90vh] pr-[15px] border-[2px]  items-center gap-[10px]">
            <i class="fas fa-times cross_mark absolute right-5 top-5 text-[1.5rem]"></i>
            <a href="{{ url_for('about_us') }}" class="font-semibold my-[20px] text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">About Us</a>
            <a href="{{ url_for('contact_us') }}" class="font-semibold my-[20px] text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">Contact Us</a>
            <button class="bg-[#ECF3F9] my-[20px] rounded-lg text-[#7B94C1] hover:mt-[-10px] duration-300 py-2 sm:px-4 px-2 font-bold">
                Get Extension
            </button>
        </div>
    </div>

<div class="sm:px-6 px-3">
    <h1 class="contact_heading relative font-bold text-2xl inline-block">Contact Information</h1>
    <h2 class="mt-4 sm:text-2xl text-xl font-semibold">Having an Issue!</h2>
    <p class="mt-[10px] mb-[10px] sm:text-xl text-[0.85rem]">If you are having any issues with the extension, please contact us by filling out the form below:-</p>
    <div class="flex flex-col sm:flex-row gap-[20px]">
        <div class="flex flex-col gap-[10px] sm:w-[70%] md:w-[50%]">
            <div class="flex flex-col gap-[5px]">
                <label for="name" class="font-semibold">Name</label>
                <input type="text" id="name" class="border-[2px] border-[#7B94C1] w-[100%] rounded-lg px-3 py-2" placeholder="Enter your name"/>
            </div>
            <div class="flex flex-col gap-[5px]">
                <label for="email" class="font-semibold">Email</label>
                <input type="email" id="email" class="border-[2px] border-[#7B94C1] rounded-lg px-3 py-2" placeholder="Enter your email"/>
            </div>
            <div class="flex flex-col gap-[5px]">
                <label for="subject" class="font-semibold">Subject</label>
                <input type="text" id="subject" class="border-[2px] border-[#7B94C1] rounded-lg px-3 py-2" placeholder="Enter your subject"/>
            </div>
            <div class="flex flex-col gap-[5px]">
                <label for="message" class="font-semibold">Message</label>
                <textarea id="message" class="border-[2px] border-[#7B94C1] rounded-lg px-3 py-2" placeholder="Enter your message"></textarea>
            </div>
            <button class="bg-[#ECF3F9] rounded-lg text-[#7B94C1] duration-300 py-2 sm:px-4 px-2 font-bold">
                Send Message
            </button>
        </div>
<!--        <div class="flex flex-col gap-[20px]">-->
<!--            <div class="flex flex-col gap-[10px]">-->
<!--                <label for="message" class="font-semibold">Message</label>-->
<!--                <textarea id="message" class="border-[2px] border-[#7B94C1] rounded-lg px-3 py-2" placeholder="Enter your message"></textarea>-->
<!--            </div>-->
<!--            <button class="bg-[#ECF3F9] rounded-lg text-[#7B94C1] hover:mt-[-10px] duration-300 py-2 sm:px-4 px-2 font-bold">-->
<!--                Send Message-->
<!--            </button>-->
<!--        </div>-->
    </div>

    <div class="mt-6">
        <p><strong>Company Name:</strong> Tech Fusion</p>
        <p><strong>Address:</strong> Tech Zone - 2 , Bennett University, India</p>
        <p><strong>Phone:</strong> +91 6202549978 , +91 7088839967 </p>
        <p><strong>Email:</strong> techfusion.report@gmail.com</p>
    </div>

</div>

<script>
    const mobile_nav = document.querySelector('.mobile_nav'); // Select the mobile navigation menu
    const nav_icon_mark = document.querySelector('.fa-bars'); // Select the navigation icon (fa-bars)
    const cross_mark = document.querySelector('.cross_mark'); // Select the cross icon (fa-xmark)

    nav_icon_mark.addEventListener('click', () => {
        mobile_nav.style.display = "flex";
    });

    cross_mark.addEventListener('click', () => {
        mobile_nav.style.display = "none";
        console.log("again_clicked");
    });
</script>
</body>
</html>