<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Identify Phishing Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/ScrollTrigger.min.js"></script>

</head>
<body>
<div class="flex h-[80px] items-center justify-between px-4 py-3">
        <div class="flex items-center gap-[10px] ">
            <div>
                <img class="w-[50px] h-[50px] rounded-full" src="../static/our_logo.jpg" alt="logo image"/>
            </div>
            <h1 class="font-bold tracking-widest uppercase sm:text-4xl text-2xl">Phishing</h1>
        </div>
        <div class="flex items-center gap-[15px]">
            <button class="bg-[#ECF3F9] text-[#7B94C1] py-2 px-4 font-bold">
                Get Extension
            </button>
        </div>
    </div>
<!-- content part -->
<div class="grid grid-cols-1 place-items-center mt-[40px] sm:mt-0  sm:grid-cols-2 items-center px-[30px] ">

    <div class="flex flex-col gap-[30px] justify-center items-center">
        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
            <span class="text-[1.5rem] tracking-wider font-bold">Preventing</span> phishing is crucial to safeguard your personal information and sensitive data. Here are general ways to help prevent falling victim to phishing attempts
        </h1>

        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
            Safeguarding one's personal information and protecting sensitive data in the digital age is of paramount importance.
        </h1>

        <div class="flex items-start w-[85%]">
            <button id="navigateButton" class="border-[#ECF3F9] hover:bg-[#ECF3F9] duration-300 text-[#7B94C1] border-[1px] rounded-lg w-[200px] py-2 px-4 font-bold">
                Check your URL
            </button>
        </div>


    </div>

    <div class="grid place-items-center py-[50px]">
        <img src="../static/identify_phishing_website.jpg" class="rounded-lg sm:w-[80%] w-[95%]" alt="identify images"/>
    </div>

</div>


<!--suggestions Part -->

<div class="px-[30px] grid grid-cols-1 sm:grid-cols-3 gap-[30px]">


    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300 ">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Education and Awareness</p>
        <div class="m-[30px]">
            Educate yourself and others about phishing techniques, common phishing signs, and how to recognize suspicious emails, messages, and websites.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Verify Sender Information:</p>
        <div class="m-[30px]">
Always verify the sender's email address and domain to ensure it matches the legitimate organization's domain.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Think Before You Click</p>
        <div class="m-[30px]">
Be cautious with links in emails, especially if the email is unexpected, the URL looks suspicious, or the email conveys a sense of urgency or pressure to click.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Check for Generic Greetings:</p>
        <div class="m-[30px]">
 Be suspicious of emails that use generic greetings (e.g., "Dear Customer") instead of your name or specific details.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Use Multi-Factor Authentication:</p>
        <div class="m-[30px]">
 Enable MFA wherever possible to add an extra layer of security when accessing accounts or platforms.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Avoid Sharing Personal Info:</p>
        <div class="m-[30px]">
Refrain from sharing sensitive information like passwords, credit card numbers, or social security numbers via email or on unsecured websites.
        </div>
    </div>


</div>

<!--footer part-->

<div class="h-[100px] sm:mt-[90px] mt-[70px] bg-black text-white font-bold flex justify-center items-center">
        © 2023 Tech Fusion | All rights reserved.
    </div>

<script>
    document.getElementById("navigateButton").addEventListener("click", function() {
    window.location.href = "{{ url_for('index') }}";
    });
</script>


</body>
</html>