<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Identify Phishing Website</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/ScrollTrigger.min.js"></script>

</head>
<body>
<div class="flex h-[80px] items-center justify-between sm:px-4 px-3 py-3">
        <div class="flex items-center sm:gap-[10px] gap-[5px] cursor-pointer ">
            <div>
                <img class="w-[50px] h-[50px]" src="../static/logo-transparent.png" alt="logo image"/>
            </div>
            <a href="{{ url_for('index') }}" h1 class="font-bold tracking-[3px] uppercase md:text-3xl sm:text-2xl text-[1.15rem] heading_name ">Not So Phishy</h1>
        </div>
        <div class="hidden md:block">
            <div class="flex items-center gap-[10px]">
                <a href="{{ url_for('about_us') }}" class="font-semibold text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">About Us</a>
                <a href="{{ url_for('contact_us') }}" class="font-semibold text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">Contact Us</a>
                <button class="bg-[#ECF3F9] rounded-lg text-[#7B94C1] hover:mt-[-10px] duration-300 py-2 sm:px-4 px-2 font-bold">
                    Get Extension
                </button>
            </div>
        </div>
        <div class="block md:hidden">
            <i class="fas fa-bars nav_icon_mark text-[1.5rem]"></i>
        </div>
        <div class="mobile_nav hidden flex-col w-[50%] bg-white z-10 pt-[100px] absolute right-0 top-0 h-[90vh] pr-[15px] border-[2px]  items-center gap-[10px]">
            <i class="fas fa-times cross_mark absolute right-5 top-5 text-[1.5rem]"></i>
            <a href="{{ url_for('about_us') }}" class="font-semibold my-[20px] text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">About Us</a>
            <a href="{{ url_for('contact_us') }}" class="font-semibold my-[20px] text-[#2C57A6] border-[2px] px-3 rounded-lg py-1 border-[#7B94C1] hover:mt-[-10px] hover:bg-[#7B94C1] hover:text-[#fff]  duration-300">Contact Us</a>
            <button class="bg-[#ECF3F9] my-[20px] rounded-lg text-[#7B94C1] hover:mt-[-10px] duration-300 py-2 sm:px-4 px-2 font-bold">
                Get Extension
            </button>
        </div>
    </div>
<!-- content part -->
<div class="grid grid-cols-1 place-items-center mt-[40px] sm:mt-0  sm:grid-cols-2 items-center px-[30px] ">

    <div class="flex flex-col gap-[30px] justify-center items-center main_part_one">
        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
            <span class="text-[1.5rem] tracking-wider font-bold">Preventing</span> phishing is crucial to safeguard your personal information and sensitive data. Here are general ways to help prevent falling victim to phishing attempts
        </h1>

        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
            Safeguarding one's personal information and protecting sensitive data in the digital age is of paramount importance.
        </h1>

        <div class="flex items-start w-[85%]">
            <button id="navigateButton" class="border-[#ECF3F9] hover:bg-[#ECF3F9] duration-300 text-[#7B94C1] border-[1px] rounded-lg w-[200px] py-2 px-4 font-bold">
                Check your URL
            </button>
        </div>


    </div>

    <div class="grid place-items-center py-[50px] main_part_two">
        <img src="../static/identify_phishing_website.jpg" class="rounded-lg sm:w-[80%] w-[95%]" alt="identify images"/>
    </div>

</div>


<!--suggestions Part -->

<div class="px-[30px] grid grid-cols-1 sm:grid-cols-3 gap-[30px]">


    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300 ">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Education and Awareness</p>
        <div class="m-[30px]">
            Educate yourself and others about phishing techniques, common phishing signs, and how to recognize suspicious emails, messages, and websites.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Verify Sender Information:</p>
        <div class="m-[30px]">
Always verify the sender's email address and domain to ensure it matches the legitimate organization's domain.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Think Before You Click</p>
        <div class="m-[30px]">
Be cautious with links in emails, especially if the email is unexpected, the URL looks suspicious, or the email conveys a sense of urgency or pressure to click.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Check for Generic Greetings:</p>
        <div class="m-[30px]">
 Be suspicious of emails that use generic greetings (e.g., "Dear Customer") instead of your name or specific details.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Use Multi-Factor Authentication:</p>
        <div class="m-[30px]">
 Enable MFA wherever possible to add an extra layer of security when accessing accounts or platforms.
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer hover:scale-105 duration-300">
        <p class="absolute top-[-19px] font-bold text-white rounded-lg left-[20px] px-5 py-2 bg-[#7B94C1] ">Avoid Sharing Personal Info:</p>
        <div class="m-[30px]">
Refrain from sharing sensitive information like passwords, credit card numbers, or social security numbers via email or on unsecured websites.
        </div>
    </div>


</div>

<!--footer part-->

<div class="h-[100px] sm:mt-[90px] mt-[70px] bg-black text-white font-bold flex justify-center items-center">
        © 2023 Tech Fusion | All rights reserved.
    </div>

<script>
    const mobile_nav = document.querySelector('.mobile_nav'); // Select the mobile navigation menu
    const nav_icon_mark = document.querySelector('.fa-bars'); // Select the navigation icon (fa-bars)
    const cross_mark = document.querySelector('.cross_mark'); // Select the cross icon (fa-xmark)

    nav_icon_mark.addEventListener('click', () => {
        mobile_nav.style.display = "flex";
    });

    cross_mark.addEventListener('click', () => {
        mobile_nav.style.display = "none";
        console.log("again_clicked");
    });
    document.getElementById("navigateButton").addEventListener("click", function() {
    window.location.href = "{{ url_for('index') }}";
    });
    const main_part_one = document.querySelector(".main_part_one");
    const main_part_two = document.querySelector(".main_part_two");
    gsap.fromTo(
    main_part_one, // Target element
    {
        opacity: 0,   // Starting opacity (hidden)
        x: -100,      // Starting horizontal position (left of the viewport) Starting rotation (counterclockwise)
    },
    {
        opacity: 1,   // Ending opacity (fully visible)
        x: 0, // Ending rotation (no rotation)
        duration: 1,  // Animation duration in seconds
        ease: 'elastic.out(1, 0.3)' // Elastic easing function with a spring effect
    }
);

    gsap.fromTo(
    main_part_two, // Target element
    {
        opacity: 0,   // Starting opacity (hidden)
        x: 100,      // Starting horizontal position (left of the viewport) Starting rotation (counterclockwise)
    },
    {
        opacity: 1,   // Ending opacity (fully visible)
        x: 0, // Ending rotation (no rotation)
        duration: 1,  // Animation duration in seconds
        ease: 'elastic.out(1, 0.3)' // Elastic easing function with a spring effect
    }
);
</script>


</body>
</html>