<!-- <html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phishing Website Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex h-[80px] items-center justify-between px-4 py-3">
        <div class="flex items-center gap-[10px] ">
            <div>
                <img class="w-[50px] h-[50px] rounded-full" src="../static/our_logo.jpg" alt="logo image"/>
            </div>
            <h1 class="font-bold tracking-widest uppercase sm:text-4xl text-2xl">Phishing</h1>
        </div>
        <div class="flex items-center gap-[15px]">
            <button class="bg-[#ECF3F9] text-[#7B94C1] py-2 px-4 font-bold">
                Get Extension
            </button>
        </div>
    </div>


<div class="px-10">
    <h1 class="font-bold text-3xl text-[#1D3557]">Phising Scams News</h1>

    <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../static/adhar_froud.jpg" class="w-[450px] rounded-lg"/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
                Aadhaar Fraud: How to prevent misuse of Aadhaar card details, Govt shares tips
            </h1>
            <p>Recently, the Unique Identification Authority of India (UIDAI) cautioned users about not clicking on any links of Aadhaar other than the official links shared by them. This is because many times scamsters create a look-alike or phishing website and then gullible people input their key information like Aadhaar and then get scammed.
            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../static/crypto_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
                How to save your crypto assets from phishing attacks
            </h1>
            <p>
                Phishing attacks have become a major threat in the realm of digital dangers, including the world of cryptocurrency. These scams exploit human vulnerabilities and use tactics such as urgent requests, artful imitation of legitimate websites, and information traps to trick individuals and investors into revealing their login information or personal data.
            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../static/supreme_court_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
CJI warns lawyers, litigants about fake SC website created for phishing attacks</h1>
            <p>
As per the notice issued by the Supreme Court, the Registry of the Supreme Court of India has taken due concern of the phishing attack and has flagged the same with law enforcement agencies to investigate and bring the perpetrators to justice.            </p>

            <p class="text-[0.85rem] mt-[10px] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../static/korea_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
North Korean hackers target US-South Korea military drills, police say.</h1>
            <p>
Suspected North Korean hackers have targeted a joint US-South Korea military exercise being held this week though classified information has not been compromised, South Korean police said on Sunday.            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

</div>


<div class="h-[100px] bg-black text-white mt-[40px] font-bold flex justify-center items-center">
        © 2023 Tech Fusion || CopyRight Reserved
    </div>

</body>
</html> -->

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phishing Scams</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex h-[80px] items-center justify-between px-4 py-3">
        <div class="flex items-center gap-[10px] ">
            <div>
                <img class="w-[50px] h-[50px] rounded-full" src="../static/our_logo.jpg" alt="logo image"/>
            </div>
            <h1 class="font-bold tracking-widest uppercase sm:text-4xl text-2xl">Phishing</h1>
        </div>
        <div class="flex items-center gap-[15px]">
            <button class="bg-[#ECF3F9] text-[#7B94C1] py-2 px-4 font-bold">
                Get Extension
            </button>
        </div>
    </div>


<div class="grid grid-cols-1  place-items-center mt-[20px] sm:mt-0  sm:grid-cols-2 items-center px-[30px] ">

    <div class="grid place-items-center py-[50px]">
        <img src="../static/scam_image.jpg" class="rounded-lg sm:w-[80%] w-[95%]" alt="identify images"/>
    </div>

    <div class="flex flex-col gap-[30px] justify-center items-center">
        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
            <span class="text-[1.5rem] tracking-wider font-bold">Unmasking</span> Online Threats: The Definitive List of Phishing Websites

        </h1>

        <h1 class="text-[1.25rem] sm:w-[85%] w-[95%]">
Welcome to our comprehensive repository of known phishing websites. Here, we expose the digital deceptions that pose a risk to your online security. Stay informed, stay protected, and help us build a safer online community by identifying and reporting phishing attempts. Explore the depths of online threats and fortify your defenses against cybercriminals.        </h1>

        <div class="flex items-start w-[85%]">
            <button id= "navigateButton" class="border-[#ECF3F9] hover:bg-[#ECF3F9] duration-300 text-[#7B94C1] border-[1px] rounded-lg w-[200px] py-2 px-4 font-bold">
                Check your URL
            </button>
        </div>


    </div>



</div>


<div class="px-10 flex mt-[20px] flex-col gap-[20px]">
    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer duration-300 sm:min-w-[250px]  sm:max-w-[80%] ">
        <p class="absolute top-[10px] font-bold text-white rounded-full left-[-25px] px-5 py-2 bg-[#FFB000] ">1</p>
        <div class="m-[30px]">
            www.abc.com
        </div>
    </div>



   <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer duration-300 sm:min-w-[250px]  sm:max-w-[80%] ">
        <p class="absolute top-[10px] font-bold text-white rounded-full left-[-25px] px-5 py-2 bg-[#FFB000] ">2</p>
        <div class="m-[30px]">
            www.abc.com
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer duration-300 sm:min-w-[250px]  sm:max-w-[80%] ">
        <p class="absolute top-[10px] font-bold text-white rounded-full left-[-25px] px-5 py-2 bg-[#FFB000] ">3</p>
        <div class="m-[30px]">
            www.abc.com
        </div>
    </div>

    <div class="relative border-[2px] border-[#ECF3F9] rounded-lg hover:shadow-lg cursor-pointer duration-300 sm:min-w-[250px]  sm:max-w-[80%] ">
        <p class="absolute top-[10px] font-bold text-white rounded-full left-[-25px] px-5 py-2 bg-[#FFB000] ">4</p>
        <div class="m-[30px]">
            www.abc.com
        </div>
    </div>
</div>


<div class="h-[100px] bg-black text-white mt-[30px] font-bold flex justify-center items-center">
        © 2023 Tech Fusion || CopyRight Reserved
    </div>


<script>
    document.getElementById("navigateButton").addEventListener("click", function() {
    window.location.href = "{{ url_for('index') }}";
    });
</script>

</body>
</html>