<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phishing Website Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7f89a67ac3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex h-[80px] items-center justify-between px-4 py-3">
        <div class="flex items-center gap-[10px] ">
            <div>
                <img class="w-[50px] h-[50px] rounded-full" src="../assets/our_logo.jpg" alt="logo image"/>
            </div>
            <h1 class="font-bold tracking-widest uppercase sm:text-4xl text-2xl">Phishing</h1>
        </div>
        <div class="flex items-center gap-[15px]">
            <button class="bg-[#ECF3F9] text-[#7B94C1] py-2 px-4 font-bold">
                Get Extension
            </button>
        </div>
    </div>
<!--content part -->

<div class="px-10">
    <h1 class="font-bold text-3xl text-[#1D3557]">Phising Scams News</h1>

    <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../assets/adhar_froud.jpg" class="w-[450px] rounded-lg"/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
                Aadhaar Fraud: How to prevent misuse of Aadhaar card details, Govt shares tips
            </h1>
            <p>Recently, the Unique Identification Authority of India (UIDAI) cautioned users about not clicking on any links of Aadhaar other than the official links shared by them. This is because many times scamsters create a look-alike or phishing website and then gullible people input their key information like Aadhaar and then get scammed.
            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../assets/crypto_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
                How to save your crypto assets from phishing attacks
            </h1>
            <p>
                Phishing attacks have become a major threat in the realm of digital dangers, including the world of cryptocurrency. These scams exploit human vulnerabilities and use tactics such as urgent requests, artful imitation of legitimate websites, and information traps to trick individuals and investors into revealing their login information or personal data.
            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../assets/supreme_court_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
CJI warns lawyers, litigants about fake SC website created for phishing attacks</h1>
            <p>
As per the notice issued by the Supreme Court, the Registry of the Supreme Court of India has taken due concern of the phishing attack and has flagged the same with law enforcement agencies to investigate and bring the perpetrators to justice.            </p>

            <p class="text-[0.85rem] mt-[10px] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

     <div class="flex flex-col sm:flex-row gap-[30px] sm:w-[80%] mt-[40px]">
        <div>
            <img src="../assets/korea_attack.jpg" class="w-[450px] rounded-lg "/>
        </div>
        <div>
            <h1 class="font-semibold text-[1.5rem]">
North Korean hackers target US-South Korea military drills, police say.</h1>
            <p>
Suspected North Korean hackers have targeted a joint US-South Korea military exercise being held this week though classified information has not been compromised, South Korean police said on Sunday.            </p>

            <p class="text-[0.85rem] mt-[10px]">
                11 sept , 2023, 12:58 PM
            </p>

        </div>

    </div>

</div>


<div class="h-[100px] bg-black text-white mt-[40px] font-bold flex justify-center items-center">
        © 2023 Tech Fusion || CopyRight Reserved
    </div>

</body>
</html>