<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
<div class="hover-container">
    <a href="#" class="hover-link">https://lotto-india.com/</a>
    <div class="popup">
        <p id="extracted-text">Loading...</p>
    </div>
    
</div>
    
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>